.match-screen{
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(#cfe7e7 0%, #ffffff 70%);
  overflow: hidden;
}

.match-close{
  position: absolute;
  top: 18px;
  right: 18px;
  background: transparent;
  border: 0;
  padding: 0;
  font-size: 26px;
  line-height: 1;
  color: rgba(140, 195, 198, 0.9);
  cursor: pointer;
}

.match-content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  box-sizing: border-box;
}

.match-top-title,
.match-main-title{
  font-family: "Caprasimo", serif;
  letter-spacing: 0.3px;
}


.match-top-title{
  font-size: 15px;
  color: rgba(115, 165, 170, 0.95);
  margin-bottom: -18px;
}

.match-photo-stack{
  position: relative;
  width: 180px;          
  margin: 24px auto 34px;
  overflow: visible;  
  
  display:flex;
  justify-content: center;
}


.match-photo-wrap{
  width: 180px;          
  height: 180px;
  border-radius: 999px;
  overflow: hidden;     
  position: relative;
  box-shadow: 0 10px 24px rgba(0,0,0,0.18);
  margin:0 auto;
  display:block;
}

.match-photo{
  width: 100%;
  height: 100%;
  object-fit: cover;    
  display: block;
  transform: scale(1.1);
}

.match-heart{
  position: absolute;
  left: 50%;
  bottom: -30px;        
  transform: translateX(-50%);
  width: 60px;          
  object-fit: contain;
  z-index: 5;
  filter: drop-shadow(0 8px 14px rgba(0,0,0,0.18));
  pointer-events: none;
}


.match-main-title{
  text-align: center;
  font-size: 21px;
  color: rgba(85, 60, 110, 0.95);
  line-height: 1.05;
  margin: 32px 30px 14px;
}

.match-subtitle{
  text-align: center;
  font-size: 9px;
  font-weight: 500;
  color: rgba(85, 60, 110, 0.8);
  line-height: 1.4;
  margin: 20 35px;
}
