.bottom-nav{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background: #e6f2f2;
    border-top: 2px solid rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 22px;
  }
  
  .bottom-nav-btn{
    background: transparent;
    border: 0;
    padding: 0;
    width: 64px;
    height: 64px;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
  
  .bottom-nav-ico{
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  
  .bottom-nav-heart{
    width: 45px;
    height: 45px;
  }
  